<h2 class="titleSavedRoll">Guardar tiradas</h2>
<button class="js_buttonSave buttonSaveRoll">Abrir guardar tirada</button>
<div class="js_save hidden savedRoll">
  <ul class="js_savelist">
    <li>
      <label for="nameRoll" class="savedRoll__labelText">
        Pon nombre a tu tirada
        <input
          type="text"
          placeholder="Nombre de tu tirada"
          class="js_nameSave"
          name="nameRoll"
        />
      </label>
    </li>
    <li>
      <label for="">
        <div>
          <span>Dado de 100 caras</span>
          <i class="fas fa-dice-d20 js_liDice" id="100"></i>
        </div>
        
        <input
          class="js_inputsave js_inputsaved100"
          type="number"
          name=""
          id="js_inputsaved100"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd100Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd100Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="d20saved">
        <div>
          <span>Dado de 20 caras</span>
          <i class="fas fa-dice-d20 js_liDice" id="20"></i>
        </div>
        <input
          class="js_inputsave"
          type="number"
          name="d20saved"
          id="js_inputsaved20"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd20Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd20Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="d12saved">
        <div>
          <span>Dado de 12 caras</span>
          <i class="fas fa-dice-d20 js_liDice" id="12"></i>
        </div>
      
        <input
          class="js_inputsave"
          type="number"
          name="d12saved"
          id="js_inputsaved12"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd12Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd12Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="d10saved">
        <div>
          <span>Dado de 10 caras</span>
          <i class="fas fa-dice-d20 js_liDice" id="10"></i>
        </div>
        <input
          class="js_inputsave"
          type="number"
          name="d10saved"
          id="js_inputsaved10"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd10Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd10Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="d8saved">
        <div>
          <span>Dado de 8 caras</span>
          <i class="fas fa-dice-d20 js_liDice" id="8"></i>
        </div>
        <input
          class="js_inputsave"
          type="number"
          name="d8saved"
          id="js_inputsaved8"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd8Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd8Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="d6saved">
        <div>
          <span>Dado de 6 caras</span>
          <i class="fas fa-dice-six js_liDice" id="6"></i>
        </div>
        <input
          class="js_inputsave"
          type="number"
          name="d6saved"
          id="js_inputsaved6"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd6Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd6Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="d4saved">
        <div>
          <span>Dado de 4 caras</span>
          <i class="fas fa-dice-d20 js_liDice" id="4"></i>
        </div>
        <input
          class="js_inputsave"
          type="number"
          name="d4saved"
          id="js_inputsaved4"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd4Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd4Saved">
          -
        </button> -->
      </label>
    </li>
  </ul>
  <button class="js_savebutton savedRoll__buttonSave">Guardar</button>
</div>
</section>
<section class="js_favoritesdice savedRoll__favorite"></section>
<div class="savedRollSection"></div>