<h2>Guardar tiradas</h2>
<button class="js_buttonSave">Abrir guardar tirada</button>
<div class="js_save hidden">
  <ul class="js_savelist">
    <li>
      <label for="">
        <input
          type="text"
          placeholder="Nombre de tu tirada"
          class="js_nameSave"
        />
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-d20 js_liDice" id="100"></i>
        <input
          class="js_inputsave js_inputsaved100"
          type="number"
          name=""
          id="js_inputsaved100"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd100Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd100Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-d20 js_liDice" id="20"></i>
        <input
          class="js_inputsave"
          type="number"
          name=""
          id="js_inputsaved20"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd20Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd20Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-d20 js_liDice" id="12"></i>
        <input
          class="js_inputsave"
          type="number"
          name=""
          id="js_inputsaved12"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd12Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd12Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-d20 js_liDice" id="10"></i>
        <input
          class="js_inputsave"
          type="number"
          name=""
          id="js_inputsaved10"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd10Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd10Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-d20 js_liDice" id="8"></i>
        <input
          class="js_inputsave"
          type="number"
          name=""
          id="js_inputsaved8"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd8Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd8Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-six js_liDice" id="6"></i>
        <input
          class="js_inputsave"
          type="number"
          name=""
          id="js_inputsaved6"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd6Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd6Saved">
          -
        </button> -->
      </label>
    </li>
    <li>
      <label for="">
        <i class="fas fa-dice-d20 js_liDice" id="4"></i>
        <input
          class="js_inputsave"
          type="number"
          name=""
          id="js_inputsaved4"
          value="0"
        />
        <!-- <button class="js_buttonplusSaved" id="buttonplusd4Saved">
          +
        </button>
        <button class="js_buttonrestSaved" id="buttonrestd4Saved">
          -
        </button> -->
      </label>
    </li>
  </ul>
  <button class="js_savebutton">Guardar</button>
</div>
</section>
<section class="js_favoritesdice"></section>
<div class="savedRollSection"></div>